*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
    font-family: 'Bebas Neue', cursive;
    position: relative;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-start{
    justify-content: flex-start;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.width20{
    width: 21%;
}
.common-padding{
    padding: 10px 50px;
}

.category-padding{
    padding: 20px 4px;
}

/* Header Component */


a{
    text-decoration: none;
}
h1{
    color: black;
    font-size: 40px;
    font-weight: 100;
}
.cart-icon{
    background-color: #ececec;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.fa-shopping-cart{
    color: grey;
}

/* Category Component  */


h2{
    font-size: 54px;
    color: grey;
    font-weight: 700;
    font-family: 'Londrina Shadow';
}
.category{
    font-size: 60px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;

}

/* Age Component */

.age-btn_section{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 90%;
    margin: 16px auto;
}
.age-btn{
    background-color: transparent;
    border: none;
    margin: 6px;
    color: #a5a0a0;
}
.everyone-btn{
    font-weight: 1000;
    color:grey ;
}

/* Allproduct Component */

.item{
    margin:  20px  0;
}
img{
    width: 100%;
    height: 400px;
    background-color: transparent;
}
.new{
    text-align: center;
    width: 30px;
    color: white;
    background-color: green;
    padding: 4px 8px;
    margin-bottom: 20px;
}
h3{
    font-size: 20px;   
    font-weight: 200;
    margin-bottom: 6px;
}
.price{
    color: gray;
}

/* Filter Component */
.filter-section{
    position: fixed;
    right: 0;
    bottom: 0;
}

.home-btnwithout{
    background-color: white;
    width: 70px;
    height: 50px;
}
.home-btn{
    width: 70px;
    height: 50px;
    background-color: #ececec;
}
.fa-dice-six{
    color: gray;
}
.orderby{
    background-color: white;
    width: 250px;
    height: 50px;
}
.sort, .fa-angle-up, .fa-angle-down{
    color: gray;

}
.angle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.size-filter{
    background-color: black;
    width: 200px;
    height: 50px;

}
.fa-filter, .size{
    color: gray;
    text-align: center;
    margin: 4px;

}
